<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metrics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Data
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        Lowest age: {{youngestData | async}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Highest age: {{oldestData | async}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Average Age of Data: {{averageAgeData | async}} days
      </ion-card-subtitle>  
    </ion-card-content>
  </ion-card>
  <app-chart></app-chart>
</ion-content>
