<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metrics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Data
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        Lowest age: {{youngestData | async}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Highest age: {{oldestData | async}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Average Age of Data: {{averageData | async}} days
      </ion-card-subtitle>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Age Groups
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-charts [data]="data | async" [totalPeople]="totalPeople | async"></app-charts>
    </ion-card-content>
  </ion-card>
</ion-content>
