<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        User Data
      </ion-card-title>
      <ion-card-subtitle>
        Lowest age: {{youngestData}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Highest age: {{oldestData}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Average Age of Data: {{averageAgeData}} days
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
