<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SQLister
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/create'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="(peopleData | async) as data; else noData">
    <app-filter></app-filter>
    <app-people-list [allPeople]="data"></app-people-list>
  </div>
  <ng-template #noData>
    <div id="container">
      <strong>Currently No Data</strong>
      <p>Click the button to add a person</p>
    </div>    
  </ng-template>
</ion-content>