<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All People
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All People</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <div *ngIf="allPeople | async as people">
    <ion-list>
      <ion-item *ngFor="let p of people">
        <ion-note slot="start">
          <ion-avatar>
            <ion-img [src]="p.image"></ion-img>
          </ion-avatar>
        </ion-note>
        <ion-label>{{p.firstName}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>